footer.footer
    .container
        .footer__inner
            .footer__info-wrapper
                include logo
                include copyright
            block socials
                include socials