header.header
    .header__inner
        include logo
        include menu
        include timezone
        include language
        a.link.header__login(href='/login.html') Вход
        a.btn.btn-grey(href='/reg.html') Регистрация