.match
    .match__preview-wrapper
    .match__substrate
    .match__info
        h2.match__info-title DreamHack Madrid 2020
        .match__info-inner
            .match__info-column
                .match__team
                    .match__team-logo-wrapper
                        img.match__team-logo(src='img/logo-spirit.png', alt='Логотип Team Spirit')
                    h3.match__team-title Team Spirit
                .match__bet
                    .match__bet-value 1.81
            .match__info-column
                .match__icon-wrapper
                    i.fad.fa-swords
                p.match__date 24 Марта 22:30
                button.btn Сделать ставку
            .match__info-column
                .match__team
                    .match__team-logo-wrapper
                        img.match__team-logo(src='img/logo-hr.png', alt='Логотип HellRaisers')
                    h3.match__team-title HellRaisers
                .match__bet
                    .match__bet-value 3.25