include team

ul.match-list
    li(class="match-list__item match-list__item_dota")
        +team('img/spirit.png', 'TS', 'Team Spirit', 'left')
        .match-list__icon-wrapper
            i.fad.fa-swords
        +team('img/hr.png', 'HR', 'HellRaisers', 'right')
    li(class="match-list__item match-list__item_csgo")
        +team('img/hr.png', 'HR', 'HellRaisers', 'left')
        .match-list__icon-wrapper
            i.fad.fa-swords
        +team('img/liquid.png', 'TL', 'Team Liquid', 'right')
    li(class="match-list__item match-list__item_dota")
        +team('img/spirit.png', 'TS', 'Team Spirit', 'left')
        .match-list__icon-wrapper
            i.fad.fa-swords
        +team('img/hr.png', 'HR', 'HellRaisers', 'right')
    li(class="match-list__item match-list__item_csgo")
        +team('img/hr.png', 'HR', 'HellRaisers', 'left')
        .match-list__icon-wrapper
            i.fad.fa-swords
        +team('img/liquid.png', 'TL', 'Team Liquid', 'right')
    li(class="match-list__item match-list__item_dota")
        +team('img/spirit.png', 'TS', 'Team Spirit', 'left')
        .match-list__icon-wrapper
            i.fad.fa-swords
        +team('img/hr.png', 'HR', 'HellRaisers', 'right')