ul.news
    li.news__item
        .news__image-wrapper
            img.news__image(src='img/new-1.jpg', alt='')
        .news__info
            a.news__info-title(href='#')
                | SEA and NA crown champions for ESL One LA Online
                | and it is very important news
            .news__item-row
                include user
                include time
    li.news__item
        .news__image-wrapper
            img.news__image(src='img/new-2.jpg', alt='')
        .news__info
            a.news__info-title(href='#')
                | OG Field Temporary Team For ESL One LA Online
                | League
            .news__item-row
                include user
                include time
    li.news__item
        .news__image-wrapper
            img.news__image(src='img/new-2.jpg', alt='')
        .news__info
            a.news__info-title(href='#')
                | OG Field Temporary Team For ESL One LA Online
                | League
            .news__item-row
                include user
                include time
    li.news__item
        .news__image-wrapper
            img.news__image(src='img/new-1.jpg', alt='')
        .news__info
            a.news__info-title(href='#')
                | SEA and NA crown champions for ESL One LA Online
            .news__item-row
                include user
                include time