include icon

div.partners
    .container
        ul.partners__list
            li.partners__item
                +icon('dota_2')
            li.partners__item
                +icon('encrypt')
            li.partners__item
                +icon('entercash')
            li.partners__item
                +icon('paysafecard')