.player
    .player__iframe-wrapper
        iframe(src="https://player.twitch.tv/?channel=dota2ruhub2&parent=www.example.com")
    ul.player__menu
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major
        li.player__item
            .player__item-icon-wrapper
                img.player__item-icon(src='img/twitch-logo.png', alt='[RU] Dota2 Major')
            .player__item-info
                p.player__item-info-title RU Team Oracle vs ex-lowkey Cup Winter
                .player__item-row
                    p.player__item-viewers
                        i.fas.fa-eye
                        | 1020
                    p.player__item-channel [RU] Dota2 Major