include icon

ul.socials
    li.socials__item
        a.socials__item-link(href='https://vk.com')
            +icon('vk')
    li.socials__item
        a.socials__item-link(href='https://vk.com')
            +icon('facebook')
    li.socials__item
        a.socials__item-link(href='https://vk.com')
            +icon('google')