include team

ul.timetable__list
    li.timetable__item
        .timetable__image-wrapper
            img.timetable__image(src='img/dreamhack.jpg', alt='DreamHack')
        .timetable__item-info
            .timetable__item-match
                +team('img/hr.png', 'HR', 'HellRaisers', 'right')
                p.timetable__item-bet 1.69
                .timetable__icon-wrapper
                    i.fad.fa-swords
                p.timetable__item-bet 1.69
                +team('img/liquid.png', 'TL', 'Team Liquid', 'left')
            .timetable__item-extra
                i.fad.fa-play-circle
                span.timetable__item-live Live
                span.timetable__item-time 00:00
                button.timetable__bet-button(type='button')
                    i.fad.fa-dice
    li.timetable__item
        .timetable__image-wrapper
            img.timetable__image(src='img/epic-orig.jpg', alt='DreamHack')
        .timetable__item-info
            .timetable__item-match
                +team('img/hr.png', 'HR', 'HellRaisers', 'right')
                p.timetable__item-bet 1.69
                .timetable__icon-wrapper
                    i.fad.fa-swords
                p.timetable__item-bet 1.69
                +team('img/liquid.png', 'TL', 'Team Liquid', 'left')
            .timetable__item-extra
                button.timetable__info-button(type='button')
                    i.fad.fa-info-circle
                span.timetable__item-live Live
                span.timetable__item-time 12:10
                button.timetable__bet-button(type='button')
                    i.fad.fa-dice
    li.timetable__item
        .timetable__image-wrapper
            img.timetable__image(src='img/dreamhack.jpg', alt='DreamHack')
        .timetable__item-info
            .timetable__item-match
                +team('img/hr.png', 'HR', 'HellRaisers', 'right')
                p.timetable__item-bet 1.69
                .timetable__icon-wrapper
                    i.fad.fa-swords
                p.timetable__item-bet 1.69
                +team('img/liquid.png', 'TL', 'Team Liquid', 'left')
            .timetable__item-extra
                i.fad.fa-play-circle
                span.timetable__item-time 21 марта, 18:00
                button.timetable__bet-button(type='button')
                    i.fad.fa-dice
    li.timetable__item
        .timetable__image-wrapper
            img.timetable__image(src='img/dreamhack.jpg', alt='DreamHack')
        .timetable__item-info
            .timetable__item-match
                +team('img/hr.png', 'HR', 'HellRaisers', 'right')
                p.timetable__item-bet 1.69
                .timetable__icon-wrapper
                    i.fad.fa-swords
                p.timetable__item-bet 1.69
                +team('img/liquid.png', 'TL', 'Team Liquid', 'left')
            .timetable__item-extra
                i.fad.fa-play-circle
                span.timetable__item-time 21 марта, 18:00
                button.timetable__bet-button(type='button')
                    i.fad.fa-dice
    li.timetable__item
        .timetable__image-wrapper
            img.timetable__image(src='img/dreamhack.jpg', alt='DreamHack')
        .timetable__item-info
            .timetable__item-match
                +team('img/hr.png', 'HR', 'HellRaisers', 'right')
                p.timetable__item-bet 1.69
                .timetable__icon-wrapper
                    i.fad.fa-swords
                p.timetable__item-bet 1.69
                +team('img/liquid.png', 'TL', 'Team Liquid', 'left')
            .timetable__item-extra
                i.fad.fa-play-circle
                span.timetable__item-time 21 марта, 18:00
                button.timetable__bet-button(type='button')
                    i.fad.fa-dice