.timezone
    .timezone__time
        i.fas.fa-clock
        span.timezone__time-text 13:16 MSK
        i.far.fa-angle-down
    ul.timezone__list
        li.timezone__item 07:57  (UTC -12:00)
        li.timezone__item 08:57  (UTC -11:00)
        li.timezone__item 09:57  (UTC -10:00)
        li.timezone__item 10:57  (UTC -9:00)
        li.timezone__item 11:57 PST (UTC -8:00)
        li.timezone__item 12:57 PDT (UTC -7:00)
        li.timezone__item 13:57 CST (UTC -6:00)
        li.timezone__item 14:57 EST (UTC -5:00)
        li.timezone__item 15:57 EDT (UTC -4:00)