div.about-us
    .container
        .about-us__inner
            .about-us__info-wrapper
                h2.about-us__info-title
                    | Актуальная информация о турнирах,
                    | стримы и видео матчей, Аналитика игр,
                    | статистика команд и игроков
                p.about-us__info-description
                    | Следить за любимой командой стало еще проще! EsportsResult
                    | позаботился о том, чтобы каждый желающий мог получить всю
                    | информацию, сделав всего пару кликов на сайте. У нас вы можете делать
                    | ставки на команды, смотреть стримы и видео прошедших матчей, а так
                    | же найти статистику по командам, игрокам и матчам.
                button.btn.btn_big Зарегистрироваться
            .about-us__image-wrapper
                img.about-us__image(src='img/gamers.png', alt='gamers')