@import "../../../node_modules/normalize.css/normalize";
@import '../untils/variables';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: $bodyColor;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #fff;
  margin: 0;
}

.link {
  font-size: 18px;
  line-height: 22px;
  color: $lightText;
  text-decoration: none;
}

.main {
  background: $bodyColor url('../img/bg-main.png') no-repeat center top;
  background-size: contain;
  .primary {
    color: $primaryColor;
  }
  .btn {
    background: $primaryColor;
  }
  .btn.btn-grey {
    color: $primaryColor;
  }
  .submenu__link svg {
    color: $primaryColor;
  }
  .menu__link .icon-angle-down-regular {
    color: $primaryColor;
  }
  .timezone__time-text~svg {
    color: $primaryColor;
  }
  .language__current svg {
    color: $primaryColor;
  }
  .match__bet-value {
    color: $primaryColor;
  }
  .tournaments-list__item:hover .tournaments-list__title {
    color: $primaryColor;
  }
  .socials__item-link:hover {
    color: $primaryColor;
  }
  .title:before,
  .title:after {
    background: $primaryColorOpacity;
  }
  .title__icon-wrapper {
    border: 1px solid $primaryColor;
    svg {
      color: $primaryColor;
    }
  }
  .title__text-wrapper {
    background: $primaryColor;
  }
}

.dota {
  .primary {
    color: $dotaColor;
  }
  .btn {
    background: $dotaColor;
  }
  .btn.btn-grey {
    color: $dotaColor;
  }
  .submenu__link svg {
    color: $dotaColor;
  }
  .menu__link .icon-angle-down-regular {
    color: $dotaColor;
  }
  .timezone__time-text~svg {
    color: $dotaColor;
  }
  .language__current svg {
    color: $dotaColor;
  }
  .match__bet-value {
    color: $dotaColor;
  }
  .tournaments-list__item:hover .tournaments-list__title {
    color: $dotaColor;
  }
  .socials__item-link:hover {
    color: $dotaColor;
  }
  .title:before,
  .title:after {
    background: $dotaColorOpacity;
  }
  .title__icon-wrapper {
    border: 1px solid $dotaColor;
    svg {
      color: $dotaColor;
    }
  }
  .title__text-wrapper {
    background: $dotaColor;
  }
  .title__text {
    color: #fff;
  }
  .news__item:hover .news__info-title {
    color: $lightDotaColor;
  }
  .timetable__item:after {
    width: 326px;
    height: 68px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: '';
    background: url('../img/timetable-dota.jpg');
    z-index: -1;
  }
}

.btn {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 18px 12px;
  &_big {
    font-size: 24px;
    line-height: 30px;
    padding: 14px 25px 16px;
  }
  &.btn-grey {
    font-size: 18px;
    line-height: 20px;
    background: $menucolor;
    padding: 10px 13px;
    color: $lightText;
  }
}

.copyright {
  color: $lightText;
  margin: 2px 0 0;
}

.content {
  padding: 200px 0 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    width: 815px;
  }
  &__sidebar {
    width: 340px;
  }
}