@import "../../../node_modules/normalize.css/normalize";
@import '../untils/variables';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: $bodyColor;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #fff;
  margin: 0;
}

.link {
  font-size: 18px;
  line-height: 22px;
  color: $lightText;
  text-decoration: none;
}

.main {
  background: $bodyColor url('../img/bg-main.png') no-repeat center top;
  background-size: contain;
  .primary {
    color: $primaryColor;
  }
  .btn {
    background: $primaryColor;
  }
  .btn-grey {
    color: $primaryColor;
  }
}

.btn {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 18px 12px;
  &_big {
    font-size: 24px;
    line-height: 30px;
    padding: 14px 25px 16px;
  }
  &.btn-grey {
    font-size: 18px;
    line-height: 20px;
    background: $menucolor;
    padding: 10px 13px;
  }
}

.dota2 {
  .primary {
    color: $dotaColor;
  }
  .btn {
    background: $dotaColor;
  }
}

.copyright {
  color: $lightText;
  margin: 2px 0 0;
}

.content {
  padding: 200px 0 0;
}