@import "../mixins/media";

.header {
  width: 100%;
  background: $darkColor;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  &__login {
    display: flex;
    align-items: center;
    margin: 0 20px 0 30px;
    .link__text {
      margin: 0 7px 3px 0;
    }
    svg {
      font-size: 19px;
      color: $primaryColor;
    }
  }
  //@include media-tablet {
  //  width: 100%;
  //}
}