extends common/layout
include common/title
include common/calendar
include includes/index/tournament-list

block variables
    - var mode = 'dota'
    - var title = "Esports Results Dota2 page"
    - var breadcrubbsLinks = [{title: 'ER', href: '/'}, {title: 'Dota2', href: 'fdsfsdf'}];

block content
    .content
        .player-section
            .container
                .player-section__inner
                    .player-section__title-wrapper
                        +title('fad fa-camcorder', 'Стримы')
                    .player-section__player-wrapper
                        include common/player
        .banner-section
            .container
                .banner
                    .banner__image-wrapper
                        img.banner__image(src='img/banner.png', alt='Рекламный банер')
                    a.banner__button(href='#') Начать обмениваться
        .main-section
            .container
                .content__inner
                    .content__main
                        .timetable-section
                            .timetable-section__title-wrapper
                                +title('fad fa-swords', 'Расписание матчей Dota2')
                            .timetable-section__timetable-wrapper.timetable
                                include common/timetable
                        .news-section
                            .news-section__title-wrapper
                                +title('fad fa-book-open', 'Новости')
                            .news-section__news-wrapper.news
                                include common/news
                    .content__sidebar
                        .bets
                            .bets__head
                                a.bets__logo(href='#')
                                    img.bets__logo-image(src='images/gg.png')
                                p.bets__title Live ставки
                            .bets__info
                                p.bets__info-title Team Liquid vs OG
                                p.bets__info-time 3 м. назад
                            ul.bets__list
                                li.bets__item
                                    p.bets__item-title Winner
                                    .bets__item-info
                                        p.bets__item-team Team Liquid
                                        p.bets__item-team-ratio 1.40
                                        p.bets__item-team-ratio 2.81
                                        p.bets__item-team OG
                                li.bets__item
                                    p.bets__item-title Map handicap
                                    .bets__item-info
                                        p.bets__item-team Team Liquid
                                        p.bets__item-team-ratio 1.15
                                        p.bets__item-team-ratio 7.81
                                        p.bets__item-team OG
                                li.bets__item
                                    p.bets__item-title 3rd map winner
                                    .bets__item-info
                                        p.bets__item-team Team Liquid
                                        p.bets__item-team-ratio 2.15
                                        p.bets__item-team-ratio 1.12
                                        p.bets__item-team OG
                        .tournament
                            .widget-title
                                i.fad.fa-trophy-alt
                                p.widget-title__text Предстоящий турнир
                            .tournament__image-wrapper
                                img.tournament__image(src='images/los.jpg')
                            .tournament__info
                                .tournament__info-row
                                    a.tournament__link(href='') ESL One Los Angeles 2020
                                    img.tournament__descipline(src='images/dota-discipline.png')
                                .tournament__info-row
                                    p.date
                                        i.fas.fa-calendar-star
                                        span.date__text 20.05.2020
                                    p.prize
                                        i.fas.fa-usd-circle
                                        span.prize__text $30 000
                        .banner-widget
                            a.banner-widget__link(href='')
                                img.banner-widget__image(src='images/banner-widget.jpg')
                        .matches-widget
                            .widget-title
                                i.fad.fa-swords
                                p.widget-title__text Список матчей на сегодня
                            ul.match-list
                                li.match-list__item.match-list__item_dota2
                                    .team.team_left
                                        .team__logo-wrapper
                                            img.team__logo(src="/images/media/837/conversions/t41186-small-picture.png" alt="")
                                        .team__info
                                            p.team__info-tag DemSlay
                                            p.team__info-name Demon Slayers
                                    .match-list__icon-wrapper
                                        i.fad.fa-swords
                                    .team.team_right
                                        .team__logo-wrapper
                                            img.team__logo(src="/images/media/848/conversions/t52372-small-picture.png" alt="")
                                        .team__info
                                            p.team__info-tag Kbrvx
                                            p.team__info-name Kobravex Gaming
                                li.match-list__item.match-list__item_dota2
                                    .team.team_left
                                        .team__logo-wrapper
                                            img.team__logo(src="/images/media/837/conversions/t41186-small-picture.png" alt="")
                                        .team__info
                                            p.team__info-tag DemSlay
                                            p.team__info-name Demon Slayers
                                    .match-list__icon-wrapper
                                        i.fad.fa-swords
                                    .team.team_right
                                        .team__logo-wrapper
                                            img.team__logo(src="/images/media/848/conversions/t52372-small-picture.png" alt="")
                                        .team__info
                                            p.team__info-tag Kbrvx
                                            p.team__info-name Kobravex Gaming