.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-angle-down-regular {
  font-size:(512/10)*1rem;
  width:(320/512)*1em;
}
.icon-csgo-menu {
  font-size:(35/10)*1rem;
  width:(36/35)*1em;
}
.icon-dota-menu {
  font-size:(34/10)*1rem;
  width:(34/34)*1em;
}
.icon-dota_2 {
  font-size:(35/10)*1rem;
  width:(226/35)*1em;
}
.icon-encrypt {
  font-size:(60/10)*1rem;
  width:(251/60)*1em;
}
.icon-entercash {
  font-size:(48/10)*1rem;
  width:(253/48)*1em;
}
.icon-facebook {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-google {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-paysafecard {
  font-size:(44/10)*1rem;
  width:(260/44)*1em;
}
.icon-vk {
  font-size:(27/10)*1rem;
  width:(27/27)*1em;
}
