$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$streamColor: #2D3A4D;
$darkColor: #1B1E29;
$bodyColor: #1D2633;
$titleColor: #253040;
$lightStreamColor: #364357;
$lightText: #C5CDDA;
$primaryColor: #45FACE;
$primaryColorOpacity: rgba(#45FACE, 0.4);
$lightPrimaryColor: #45FACE;
$dotaColor: #C82823;
$lightDotaColor: #C82823;
$partners: #354254;